.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information label {
  font-size: 20px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  padding: 10px;
}

.information input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 8px;
}

button {
  width: 315px;
  height: 50px;
  border-radius: 8px;
  background-color: teal;
  margin: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 20px;
  color: aliceblue;
}

button:hover {
  cursor: pointer;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
